:root {
  --animation-time: 1.5s;
}

h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h3 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h4 {
    font-family: "Adobe Garamond Pro", serif;
    display: block;
    font-size: 0.75em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    font-style: italic;
}

.container {
  font-family: "Proxima Nova", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: 180px 150px 50px auto 100px 100px;
  grid-template-columns: repeat(auto, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "i  h  h  h  h  h  h  h"
    "a  a  a  a  b  b  b  b"
    "l  l  l  l  x  x  rr rr"
    "c  c  c  c  r  r  rr rr"
    "c  c  c  c  r  r  rr rr"
    "f  f  f  f  f  f  f  f";
}

.blinker {
  animation: blink 100ms infinite;
  font-size: 4em;
  font-weight: bold;
  }

@keyframes blink {
  from {
    color: pink;
  }
  to {
    color: black;
  }
}

.rightright {
  grid-area: rr;
  vertical-align: top;
}

.card {
  grid-area: c;
  animation: slide-up var(--animation-time) ease;
}

.card-image {
  animation: slide-up var(--animation-time) ease;
}

.card-image:hover {
  opacity: 0.5;
}

.card:nth-child(10n+1) {
  padding-top: 0px;
  padding-left: 0px;
}

.merchant {
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75em;
}

.index {
  grid-area: i;
}

.back {
  border-width: 2px;
  border-style: solid;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  grid-area: h;
  position: relative;
  left: 0px;
  background-color: white;
  font-style: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.left-header {
  grid-area: a;
  border-width: 2px;
  border-style: solid;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.right-header {
  grid-area: b;
  border-width: 2px;
  border-style: solid;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.left-header:hover, .right-header:hover {
  background-color: pink;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.merchant:hover {
  background-color: pink;
}

.back:hover {
  background-color: black;
  color: white;
}

.left {
  grid-area: l;
  background-color: white;
}

.right {
  grid-area: r;
  background-color: white;
}

.footer {
  grid-area: f;
  background-color: white;
}

#location-submit {
  background-color: white;
  font-size: 0.75em;
  border-radius: 4px;
  font-family: "Adobe Garamond Pro", serif;
  font-style: italic;
}

#other-cards-text {
  text-align: center;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
